
<div id="conteiner">
    <div id="login">
      <div id="image" >
        <img src="./assets/Logo.png" alt="">
      </div>
      <div id="h1_conteiner">
        <h1>Iniciar Sesión como veterinaria</h1>
      </div>
    <div id="forms_conteiner">
      <form id="zone">
        <div>
          <p>Correo:</p>
          <input type="email" placeholder="Ej: hecsom1514@gmail.com">
        </div>
        <div>
          <p>Contraseña:</p>
          <input type="password" placeholder="*********">
        </div>
      </form>
    </div>
    <button routerLink="/proposales">Iniciar sesión</button>
    <div id="redirection">
      <p>¿Eres cliente/a?,</p> <p id="color_p" routerLink="/login/cliente"> Inicia sesión aquí</p>
    </div>
    <div id="redirection">
      <p>Si no tienes una cuenta,</p> <p id="color_p" routerLink="/veterinaria/registro"> Registrate aquí</p>
    </div>
    </div>
  </div>